<h1>{{title}}</h1>


<form method="post" action="/upload" enctype='multipart/form-data'>
    <input name="username" />
    <input type="file" name='img' />
    <button type="submit">Submit</button>

    <p style="font-size:48px">

        &#128566; &#128578; &#128556; &#128132;
    </p>
</form>