<form action='/signup' method='POST'>

<h1>Idendification</h1>
    <div> 
        <h3>Pseudo</h3>
        <input type="text" placeholder="Username" name="username" />
    </div>

    <div> 
        <h3>Mail</h3>
        <input type="email" placeholder="email" name="email" />
        <input type="password" placeholder="password" name="password" />
        <input type="password" placeholder="confirm password" name="confirm_password" />
    </div>

    <div>
        <h3>Name</h3>
        <input type="text" placeholder="firstname" name="firstname" />
        <input type="text" placeholder="surname" name="surname" />
    </div>

    <div>
        <h3>DoB</h3>
        <input id="date" type="date" value="DD-MM-YYY" name='date'>
        <button type="submit">Submit</button>
    </div>


   
        
    

</form>