<h1>{{title}}</h1>

  {{!-- <form method="post" action="/form/signup">
        <input name="username" />
    
        <button type="submit">Send</button>
        <p style="font-size:48px">
            &#128566; &#128578; &#128594; &#128132;
            </p>
      </form>  --}}