<h1>{{title}}</h1>

<p>{{students}}</p>

<form method="post" action="/students/add">
    <input name="username" />

    <button type="submit">Send</button>
    <p style="font-size:48px">
        &#128566; &#128578; &#128594; &#128132;
    </p>
</form>