<header style='background-color: blue'>LE BON PLAN</header>

<nav style="background-color: aqua;">
    <ul>
        <li>
            <a href='/login'>Login</a>
        </li>
        <li>
            <a href='/signup'>Signup</a>
        </li>
    </ul>
</nav>



<ul>
    <li>
        <a href='/Paris'>Paris</a>
    </li>
    <li>
        <a href='/Lyon'>Lyon</a>
    </li>
    <li>
        <a href='/Marseille'>Marseille</a>
    </li>

</ul>