<form action="/login" method="POST">
  <h2>Email</h2>
  <input type="email" placeholder="email" name="email" />

  <h2>Password</h2>
  <input type="password" placeholder="Password" name="password" />
  <button type="submit">Submit</button>
</form>