<form action='/signup' method='POST'>

<h1>Idendification</h1>
    <div> 
        <h3>Pseudo</h3>
        <input type="text" placeholder="Username" name="username" />
        <input type="password" placeholder="password" name="password" />
        
    </div>



    <div>
        <button type="submit">Submit</button>
    </div>


   
        
    

</form>